@charset "UTF-8";
@media (max-width: 768px) {

  .mainContacto {
    font-size: 4vw;
    width: 60%;
    margin: 5vw auto;
  }

  .textoContacto {
    width: 60%;
    font-size: 4vw;
  }

  .itemContacto i {
    font-size: 6vw;
  }
  
  .itemContacto p {
    margin: 2vw 0vw;
    font-size: 4vw;
  }

  .notaContacto2 {
    margin-top: 5vw;
    padding: 1vw 0vw 4vw 0vw;
    width: 70vw ;
  }

}
