@charset "UTF-8";
/* Generales */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #060A24;
  width: 100%;
}

.bodystyle {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.titLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.titLogo H2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6vw;
}

.logo {
  width: 2.4vw;
  padding-right: 3%;
}

/* Header y su contenido como conjunto */
.header {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  position: relative;
  align-items: center;
  padding: 0% 5%; 
  background: #ffffff;
  background: #ffffff56;
  z-index: 8;
  width: 90%;
}


/* modifica el logo o la fuente que utilicemos como logo */
.header a {
  color: #060A24;
  text-decoration: none; }

/* solo las opciones generales del menú, es decir, la parte derecha del header */
.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center; 
}

/* las opciones específicas del menú, es decir, de cada item y su disposición en el menú */
.menu ul {
  margin: 0%;
  list-style: none;
  padding: 0%;
  display: flex; 
}

.menu ul li a {
  display: block;
  padding: .5vw .6vw;
  font-family: 'Alata', sans-serif;
  text-decoration: none;
  font-size: 1.2vw; 
  color: #103882;
  transition-duration: .2s;
}


.menu ul li a:hover {
  transition-duration: .2s;
  color: #f0f0f0;
}

/* como cambia el puntero y la sombra que se hace cuando me paro sobre el menú */

.menu li:hover {
  transition-duration: .2s;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05); 
  background: #103882; 
  /* border-radius: .8vw; */
}

/* PORTADA */
.backG {
  /* margin-top: 4.6vw; */
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?cs=srgb&dl=pexels-startup-stock-photos-7096.jpg&fm=jpg");
  opacity: 0.9;
}

.main-texto {
  padding: 12vw;
  background: rgba(13, 24, 124, 0.5);
}

.mainPortada {
  color: #ebe6e6;
  font-size: 4vw;
  font-family: 'Alata', sans-serif;
  font-style: unset;
  width: 70%;
  opacity: 0;
}



/* RAZONES */

.aprender {
  padding: 3vw;
}

.titulo {
  text-align: center;
  margin: auto;
  font-size: 1.8vw;
  font-family: 'Alata', sans-serif;
  padding: 3vw 0vw 1vw 0vw;
}

.razones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 20%;
  align-items: center;
  padding: 0vw 1vw;
  box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.15);
  transition-duration: .2s;
}

.item:hover {
  transform: scale(1.03);
  transition-duration: .2s;
}

.item .subtitulo {
  /* font-size: 1.5vw; */
  font-size: 140%;
  text-align: center;
  color: #af1010;
  font-family: 'Oswald', sans-serif;
  align-items: center;
  /* font-weight: bolder; */
}

.item p {
  /* font-size: 1.15vw; */
  text-align: initial;
  color: #000000;
  align-items: center;
  /* margin: auto; */
}

.item img {
  width: 100%;
  margin: auto;
  /* justify-content: center; */
}



/* Servicios */
.servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nuestrosServicios {
  width: 25%;
}

.nuestrosServicios img {
  width: 4vw;
}

.nuestrosServicios .subtitulo {
  font-size: 1.4vw;
}

.info {
  font-size: 1.2vw;
}



/* Contactar */

.contactForm {
  width: 100%;
}

.blockText{
  align-items: center;
}

.notaContacto{
  background: #ffffff;
  padding: 1vw 0vw;
  border-radius: 2vw;
  width: 80%;
  margin: 1vw 0vw 1vw 1vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  /* align-items: center; */
  text-align: center;
  /* margin: auto; */
  justify-content: center;
}

.contactar {
  display: flex;
  flex-direction: row;
  background-color: #325573;
  position: relative;
  z-index: 1;
  /* width: 50%; */
}

.imageContact {
  width: 50%;
}
.imageContact img {
  width: 100%;
}

.blockText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.titleContacto {
  color: #ffffff;
  margin-bottom: 1.3vw;
  font-size: 1.1vw;
  font-family: 'PT Sans', sans-serif;
}

.titleContacto input {
  width: 73.8%;
  height: 1.2vw;
  padding: 1vw 1vw;
  border-width: 1px;
  border-color: #e0e0e0;
  background: #f0f0f0;
  color: #5e5d5d;
}

.titleContacto textarea {
  border-width: 1px;
  border-color: #e0e0e0;
  background: #f0f0f0;
  color: #5e5d5d;
  box-shadow: inset 1px 1px 0px 0px rgb(134, 134, 134);
}

.titleContacto p {
  margin-bottom: .1vw;
  color: #b4b4b4;
  width: 34%;
}

.itemContacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.itemContacto i {
  color: #ffffff;
}

.itemContacto p {
  margin-left: 1vw;
  font-size: 1.4vw;
  font-family: 'Oswald', sans-serif;
}

textarea{
  resize: none;
  width: 74%;
  height: 4vw;
  background: #f0f0f0;
  border-width: 1px;
  border-color: #848484;
  padding: 1vw;
}



/* Botones */

.myButton {
	background-color:#44c767;
	border-radius: .5vw;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1vw;
	padding: .7vw 1.4vw;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.25);
}
/* .myButton:hover {
	background-color:#5cbf2a;
} */
.myButton:active {
	position:relative;
	top:1px;
}


.myButton2 {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
	border-radius: .5vw;
	border: 1px solid #c62d1f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1vw;
	padding: .7vw 1.4vw;
	text-decoration:none;
  text-shadow:0px 1px 0px #f24437;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.25);
}

/* .myButton2:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
} */

.myButton2:active {
	position:relative;
	top:1px;
}







/* -----------------------------------------  WHATSAPP --------------------------------------------------- */

.logoW {
  position: fixed;
  height: 6vw;
  bottom: 2vw;
  right: 2vw;
  cursor: pointer;
  z-index: 5; 
}


/* -----------------------------------------  Subir al inicio --------------------------------------------------- */

.subirInicio {
  position: fixed;
  height: 2.4vw;
  bottom: 10vw;
  right: -4vw;
  cursor: pointer;
  z-index: 5; 
  padding: .3vw;
  padding-right: .8vw;
  background-color: #af1010d0;
  opacity: 0;
}


/* -------------------------------------------------------------------------------------------------------- */

/* footer {
  padding: 1vw 0vw;
  margin: auto;
} */

footer {
  display: flex;
  flex-direction: row;
  padding: 1vw 0vw;
  margin: auto;
  align-items: center;
  font-size: 1vw;
  color: #585858;
}

.redesSociales{
  margin-right: 2vw;
  justify-content: space-between;
}

.redesSociales a {
  margin-left: 1vw;
}

.redesSociales a i {
  color: #585858;
  font-size: 1.4vw;
}