@charset "UTF-8";
@media (max-width: 768px) {
    .presentation {
        flex-direction: column;
        margin-top: 1vw;
    }

    .infoNosotros2 {
        width: 70%;
    }
      
    .infoNosotros2 h2 {
        font-size: 5vw;
    }

    .infoNosotros2 p {
        font-size: 2.6vw;
    }

    .fotoNosotros img {
        margin-bottom: 8vw;
      }
}