.presentation {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin: auto;
    margin-top: 3vw;
    font-size: 2vw;

    .infoNosotros2 {
        width: 50%;
        margin: 2vw;
        font-size: 1.2vw;

        h2 {
            text-align: center;
        }
    }

    .fotoNosotros {
        align-items: center;
        text-align: center;
        margin: auto;

        img {
            align-items: center;
            text-align: center;
            margin: auto;
            width: 70%;
            border-radius: 2vw;
            box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.45);
        }
    }
}